section {
  width: 100%;
}
.w-login2 {
  width: 500px;
  height: 500px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

mat-form-field {
  width: 400px;
}

.m-space-between {
  margin-bottom: 40px;
}
