section {
  margin: 0 20px 0 20px;
  font-size: 1.2em;
  font-family: 'Play', sans-serif;

  mat-toolbar {
    background-color: #FFFAF5;

    div {
      color: #505050;
      font-size: 1.3em;
      text-align: center;
      font-family: 'Play', sans-serif;
      width: 100px;
      margin: 10px 0 10px 0;
      span {
        cursor: pointer;
        margin-left: -40px;
        margin-top: 10px;
      }
      .logout {
        float: right;
      }
    }
    span:hover {
      font-size: 1.32em;
      color: #7f1a21;
    }
  }

}
