.m-business-card {
  color: #242441;
  font-family: 'Poppins', sans-serif;
}

.m-business-card span {
  font-size: 2em;
  font-weight: bold;
  border-bottom: 3px solid #DE7824;
  margin-bottom: 30px;
  padding-right: 10px;
}

.m-business-card p {
  font-size: 1.2em;

}
mat-vertical-stepper {
  width: 50%;
  min-width: 500px;
}
mat-form-field {
  width: 100%;
  color: #242441 !important;
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
}

mat-option, mat-select {
  color: #242441;
  min-width: 300px;
  font-family: 'Poppins', sans-serif;
}

input {
  color: #242441 !important;
}
img {
  width: 200px;
  height: 250px;
}

form {
  margin: 20px 0;
}

mat-expansion-panel {
  margin: 20px 0;

}
mat-action-row mat-icon {
  font-size: 40px;
}

mat-expansion-panel-header {
  color: #DE7824;
  font-family: 'Poppins', sans-serif;
}

mat-expansion-panel-header:hover {
  background-color: #242441;
}
.mat-expansion-panel-header-title {
  color: #DE7824;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}
::ng-deep mat-step-header{
  color: #242441;
  font-family: 'Poppins', sans-serif;
}
::ng-deep .mat-step-label {
  color: #242441;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}
.mat-step-label-active, .mat-step-label-selected {
  color: #242441;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

mat-radio-button {
  margin: 30px 20px;
  color: #242441;
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
}
.mat-icon {
  color: #DE7824;
}
.m-adding-company .mat-icon {
  font-size: 40px;
}

.m-upload {
  border: 1px solid #242441;
  border-radius: 5px;
  padding: 30px;
  cursor: pointer;
  color: #242441;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
}
.m-upload-button mat-icon{
  font-size: 40px;
}
