.m-business-title {
  color: #242441;
  font-family: 'Poppins', sans-serif;
}

.m-business-title span {
  font-size: 2em;
  font-weight: bold;
  border-bottom: 3px solid #DE7824;
  padding-right: 10px;
}

.m-business-title p {
  font-size: 1.2em;

}

.m-cards {
  margin: 10px 10px 10px 0;
  float: left;
}

::ng-deep mat-card {
  padding: 0px !important;
  width: 500px;
  background-color: #242441 !important;
  box-shadow: 0 19px 38px #242441, 0 15px 12px #64648c !important;
  font-family: 'Poppins', sans-serif !important;
}

::ng-deep mat-card-title {
  color: #DE7824;
  font-weight: bold !important;
  font-size: 1.3em !important;
}

::ng-deep  mat-card-subtitle {
  color: white !important;
  font-size: 1em !important;
}

::ng-deep  mat-card-content {
  width: 100%;
  color: white !important;
  font-size: 0.8em !important;
  margin-left: 16px;
}

::ng-deep  mat-card-header {

}

::ng-deep  mat-card-actions {
  padding: 0px !important;
  margin: 0px !important;
  color: white !important;
}

img {
  margin-top: 10px;
  width: 130px;
  height: 170px;
  border: 1px solid #DE7824;
  border-radius: 5px;
}

mat-vertical-stepper {
  width: 50%;
  min-width: 600px;
}
mat-form-field {
  width: 100%;
  color: #242441 !important;
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
}

mat-option, mat-select {
  color: #242441;
  min-width: 300px;
  font-family: 'Poppins', sans-serif;
}

input {
  color: #242441 !important;
}

form {
  margin: 20px 0;
}

mat-expansion-panel {
  margin: 20px 0;

}
mat-action-row mat-icon {
  font-size: 40px;
}

mat-expansion-panel-header {
  color: #DE7824;
  font-family: 'Poppins', sans-serif;
}

mat-expansion-panel-header:hover {
  background-color: #242441;
}
.mat-expansion-panel-header-title {
  color: #DE7824;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}
::ng-deep mat-step-header{
  color: #242441;
  font-family: 'Poppins', sans-serif;
}
::ng-deep .mat-step-label {
  color: #242441;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}
.mat-step-label-active, .mat-step-label-selected {
  color: #242441;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

mat-radio-button {
  margin: 30px 20px;
  color: #242441;
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
}
.mat-icon {
  color: #DE7824;
}
.m-adding-company .mat-icon {
  font-size: 40px;
}

.m-upload {
  border: 1px solid #242441;
  border-radius: 5px;
  padding: 30px;
  cursor: pointer;
  color: #242441;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
}
.m-upload-button mat-icon{
  font-size: 40px;
}
