
mat-form-field {
  color: #292729;
  font-size: 1.3em;
  width: 300px;
  font-family: 'Cairo', sans-serif;

}
mat-progress-bar {
  width: 300px;
}
button {
  color: #292729;
  height: 50px;
  font-size: 1.3em ;
  font-family: 'Cairo', sans-serif;
  .login{
    width: 150px;
  }
  .issue {
    width: 250px;
  }
}



.triangle-up {
  width: 0;
  height: 0;
  margin-top: -15px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #e42c35;
  -webkit-animation-name: blackWhite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;

}


.login-form:before, .login-form:after {
  position: absolute;
  content: '';
  background: #e42c35;
  display: block;
  width: 30%;
  height: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 200px auto auto  auto;
}
.login-form:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes blackWhite {
  0% { border-bottom: 20px solid #e41a2f;opacity: random(0.3, 1)}
  10% { border-bottom: 20px solid #a6202a; opacity: random(0.3, 1)}
  20% { border-bottom: 20px solid #c5382c;opacity: random(0.3, 1)}
  30% { border-bottom: 20px solid #a6202a;opacity: random(0.5, 1)}
  40% { border-bottom: 20px solid #7f1a21;opacity: random(0.3, 1)}
  50% { border-bottom: 20px solid #d52837;opacity: random(0.5, 1)}
  60% { border-bottom: 20px solid #ff2d3f;opacity: random(0.3, 1)}
  70% { border-bottom: 20px solid #e42c35;opacity: random(0.5, 1)}
  80% { border-bottom: 20px solid #9f2d26;opacity: random(0.3, 1)}
  90% { border-bottom: 20px solid #e42c35;opacity: random(0.3, 1)}
}
