<section [className]="formSetting.errorCross ? 'login-form' : ''">
  <h1>Netum Oy</h1>
  <form fxLayout="column"
        fxLayoutAlign="center center"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        formControlName="username"
        matInput
        (focusin)="formSetting.input1 = true"
        (focusout)="formSetting.input1 = false"
        placeholder="username"
        type="text">
      <mat-error *ngIf="errors">{{getError('username')}}</mat-error>
    </mat-form-field>
    <span *ngIf="formSetting.input1" class="triangle-up"></span>
    <mat-form-field>
      <input
        formControlName="password"
        matInput
        (focusin)="formSetting.input2 = true"
        (focusout)="formSetting.input2 = false"
        placeholder="password"
        type="password" >
      <mat-error *ngIf="errors">{{getError('password')}}</mat-error>
    </mat-form-field>
    <span *ngIf="formSetting.input2 && this.loginForm.invalid" class="triangle-up"></span>
    <ng-container *ngIf="loginForm.valid && formSetting.submit">
      <button mat-stroked-button color="#FD403C">LOGIN</button>
      <span class="triangle-up"></span>
    </ng-container>
    <ng-container *ngIf="loginForm.invalid && formSetting.reset">
      <br>
      <span>DO YOU HAVE LOGIN PROBLEMS?</span>
      <button mat-stroked-button color="#FD403C" (click)="resolveIssue()">YES</button>
      <span class="triangle-up"></span>
    </ng-container>
    <ng-container *ngIf="formSetting.progressing">
      <p>PROGRESSING ...</p>
      <mat-progress-bar mode="determinate" [value]="formSetting.progressValue"></mat-progress-bar>
    </ng-container>
  </form>
</section>
