header {
  height: 88px;
  background-color: #242441;
  color: white;
}

header button{
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  padding: 1.2em;
  font-weight: bold;

}
header button:hover{
  color: #DE7824;
  border-radius: 0px;
  background-color: white;
}

header button.active {
  color: #DE7824;
  border-radius: 0px;
  background-color: white;
}

.mat-menu-item {
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
  color: #DE7824;
}

