<header fxLayout="row" fxLayoutAlign="start">
  <div fxFlex="15" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px" class="picture">
    <div ><img src="../../assets/images/cv.ico"></div>
    <div><p>Osaamispankki</p></div>
  </div>
  <div fxFlex="75" fxLayout="row" fxLayoutAlign="start  stretch">
    <div *ngIf="logged">
      <button mat-button [matMenuTriggerFor]="menu1">ROLE<mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item [routerLink]="['/user']">User</button>
        <button mat-menu-item [routerLink]="['/company']">Company</button>
        <button mat-menu-item [routerLink]="['/master-admin-master']">Master</button>
      </mat-menu>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">MENU<mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1.1</button>
        <button mat-menu-item>Item 1.2</button>
      </mat-menu>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">CONTACT US<mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1.1</button>
        <button mat-menu-item>Item 1.2</button>
      </mat-menu>
    </div>
  </div>

  <div>
    <ng-container *ngIf="logged; else notLogged">
      <button  mat-button (click)="logout()">LOGOUT</button>
    </ng-container>
    <ng-template #notLogged>
      <button  mat-button [matMenuTriggerFor]="menu1">LOGIN<mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="openEmploymentLoginDialog()">Login as employment</button>
        <button mat-menu-item (click)="openEmploymentRegisterDialog()">Register as employment</button>
        <button mat-menu-item (click)="openCompanyLoginDialog()">Register as company</button>
      </mat-menu>
    </ng-template>
  </div>
</header>
