<section fxLayoutAlign="center center">
  <div class="w-login2" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="m-cv-title">
      <span>Login to Osaamispankki</span>
    </div>

    <form fxLayout="column"
          fxLayoutAlign="center center"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input
            matInput
            formControlName="username"
            placeholder="Username"
            type="text">
          <mat-error *ngIf="errors">{{getError('username')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            formControlName="password"
            placeholder="Password"
            [type]="hide ? 'password' : 'text'">
          <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="errors">{{getError('password')}}</mat-error>
        </mat-form-field>

      <div><button mat-raised-button color="warn" type="submit">Login</button></div>
    </form>

  </div>
</section>
