mat-form-field {
  color: #292729;
  font-size: 1.5em;
  width: 40%;
  font-family: 'Play', sans-serif;
}

mat-progress-bar {
  width: 40%;
}

@media screen and (max-width:  750px ) {
  mat-form-field {
    width: 60%;
  }
  mat-progress-bar {
    width: 60%;
  }
}

@media screen and (max-width: 376px ) {
  mat-form-field {
    width: 80%;
  }
  mat-progress-bar {
    width: 80%;
  }
}

button {
  color: #292729;
  padding: 20px;
  font-size: 1.5em ;
  font-family: 'Play', sans-serif;
  margin-bottom: 25px;
}
